<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Rólunk</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Lili</a>
          <a href="#" class="item">Matyi</a>
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Szolgáltatások</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Csoportos oktatás</a>
          <a href="#" class="item">Korepetálás</a>
          <a href="#" class="item">Gyakren feltett kérdések</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Todo alkalmazás</h4>
        <p id="insertDate">Minden jog fenntartva. &copy; </p>
      </div>
    </div>
  </div>
  <script>
    var pElem = document.getElementById("insertDate");
    if (pElem) {
      pElem.innerText += new Date().getFullYear();
    }
  </script>
</div>
